<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Kds Stepper</title>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <link rel="stylesheet" href="../src/kds-stepper.css">

</head>
<body ng-cloak ng-controller="myController">
<div layout="column">
  <div flex layout="row" layout-align="center center">
    <div flex="90" layout-padding>
      <h1>Horizontal</h1>
      <kds-stepper md-theme="mytheme">
        <kds-step label="Let's Begin!" step-done="steps.begin">
          <form action="#" layout="column">

            <h2>First Time!</h2>
            <h3>Here </h3>
            <p>You can click on the button bellow to go to the next step after you agree the term and conditions</p>

            <md-checkbox ng-click="user.accept = true">
              Accept the term and conditions
            </md-checkbox>
            <div layout="row">
              <md-button class="md-primary md-raised" ng-click="steps.begin = true">Let's Go!!!</md-button>
            </div>
          </form>
        </kds-step>

        <kds-step label="Fill the form" step-done="steps.fillForm">
          <h2>Step Two</h2>
          <form flex>
            <div layout="row">
              <md-input-container flex="50">
                <label>Name</label>
                <input type="text" name="firstName" ng-model="user.name">
              </md-input-container>

              <md-input-container flex="50">
                <label>Email</label>
                <input type="email" name="email" ng-model="user.email">
              </md-input-container>
            </div>

            <md-button class="md-raised md-primary" ng-click="myStep = 0">
              Confirm
            </md-button>
          </form>
        </kds-step>

        <kds-step label="Check it out">
          <h2>Step Three</h2>

          <h3>Name: {{user.name}}</h3>
          <h5>Email: {{user.email}}</h5>

        </kds-step>
      </kds-stepper>
    </div>
  </div>

  <div flex layout="row" layout-align="center" layout-padding>
    <kds-stepper md-theme="mytheme" flex="90">
      <kds-step label="Let's Begin!">
        <h2>Step One</h2>

        <p>Click on the button bellow to continue</p>

        <md-button>Let's Go!!!</md-button>
      </kds-step>

      <kds-step label="Last Step">
        <h2>Step Last</h2>

        <h3>Name: {{user.name}}</h3>
        <h5>Email: {{user.email}}</h5>

      </kds-step>
    </kds-stepper>
  </div>

  <div flex layout="row" layout-align="center center">
    <md-tabs flex="90">
      <md-tab label="Tab 1">

        <p flex="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto eligendi laudantium
          natus necessitatibus omnis perspiciatis qui repudiandae vel. Ab ad culpa doloribus ipsum labore omnis quam sit
          suscipit.</p>
        <p flex="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto eligendi laudantium
          natus necessitatibus omnis perspiciatis qui repudiandae vel. Ab ad culpa doloribus ipsum labore omnis quam sit
          suscipit.</p>

      </md-tab>
      <md-tab label="Tab 2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto eligendi laudantium natus
          necessitatibus omnis perspiciatis qui repudiandae vel. Ab ad culpa doloribus ipsum labore omnis quam sit
          suscipit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto eligendi laudantium natus
          necessitatibus omnis perspiciatis qui repudiandae vel. Ab ad culpa doloribus ipsum labore omnis quam sit
          suscipit.</p>
      </md-tab>
    </md-tabs>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="../bower_components/angular-material/modules/js/tabs/tabs.js"></script>
<script src="../kds-stepper.js"></script>
<script src="app.js"></script>
</body>
</html>