div.layout-column {
  padding-bottom: 30px; }

kds-stepper {
  background: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0 !important; }
  kds-stepper.round kds-steps-wrapper {
    border-radius: 10000px;
    overflow: hidden;
    position: relative; }
  kds-stepper kds-steps-wrapper {
    overflow: hidden !important;
    position: relative !important;
    display: block;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2); }
    kds-stepper kds-steps-wrapper kds-step-item {
      display: block;
      padding: 18px 0;
      position: relative !important;
      cursor: pointer; }
      kds-stepper kds-steps-wrapper kds-step-item.disabled {
        color: rgba(0, 0, 0, 0.38); }
        kds-stepper kds-steps-wrapper kds-step-item.disabled .md-fab {
          background: #9E9E9E !important; }
        kds-stepper kds-steps-wrapper kds-step-item.disabled[disabled], kds-stepper kds-steps-wrapper kds-step-item.disabled[disabled] > * {
          cursor: no-drop; }
      kds-stepper kds-steps-wrapper kds-step-item.active {
        font-weight: 700; }
      kds-stepper kds-steps-wrapper kds-step-item:not(.active) {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      kds-stepper kds-steps-wrapper kds-step-item:first-child {
        padding-left: 24px;
        overflow: hidden !important; }
      kds-stepper kds-steps-wrapper kds-step-item:last-child {
        padding-right: 24px;
        overflow: hidden; }
    kds-stepper kds-steps-wrapper .md-fab {
      width: 28px !important;
      height: 28px !important;
      min-height: 24px;
      margin-left: 24px; }
      kds-stepper kds-steps-wrapper .md-fab md-icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 0px;
        margin-left: -2px; }
      kds-stepper kds-steps-wrapper .md-fab span {
        display: block;
        line-height: 30px; }
  kds-stepper kds-steps-content {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
    kds-stepper kds-steps-content md-content {
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
    kds-stepper kds-steps-content kds-step {
      width: 100%;
      display: block;
      padding: 24px;
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
      kds-stepper kds-steps-content kds-step.ng-enter {
        transform: translateX(100%); }
      kds-stepper kds-steps-content kds-step.ng-enter-active {
        transform: translateX(0); }
      kds-stepper kds-steps-content kds-step.ng-leave {
        transform: translateX(0);
        position: absolute; }
      kds-stepper kds-steps-content kds-step.ng-leave-active {
        transform: translateX(-100%); }
