////////////////////////////////////////////////////////////
// Import everything to generate your animate sass module //
////////////////////////////////////////////////////////////
@import "../../bower_components/animate-sass/helpers/mixins",
	"../../bower_components/animate-sass/helpers/settings",
	"../../bower_components/animate-sass/helpers/base";

// ATTENTION

// Attention Seekers
$use-bounce				:	false;
$use-flash				:	false;
$use-pulse				:	false;
$use-wiggle				:	false;
$use-swing				:	false;
$use-shake				:	false;
$use-tada				:	false;
$use-wobble				:	false;

@import	"../../bower_components/animate-sass/animations/attention-seekers/bounce",
	"../../bower_components/animate-sass/animations/attention-seekers/flash",
	"../../bower_components/animate-sass/animations/attention-seekers/pulse",
	"../../bower_components/animate-sass/animations/attention-seekers/shake",
	"../../bower_components/animate-sass/animations/attention-seekers/swing",
	"../../bower_components/animate-sass/animations/attention-seekers/wiggle",
	"../../bower_components/animate-sass/animations/attention-seekers/wobble",
	"../../bower_components/animate-sass/animations/attention-seekers/tada";

// BOUNCE

// Bounce Enter
$use-bounceIn			:	false;
$use-bounceInUp			: 	false;
$use-bounceInDown 		: 	false;
$use-bounceInLeft 		: 	false;
$use-bounceInRight 		: 	false;

// Bounce Exit
$use-bounceOut			:	false;
$use-bounceOutUp		: 	false;
$use-bounceOutDown 		: 	false;
$use-bounceOutLeft 		: 	false;
$use-bounceOutRight 	: 	false;

@import "../../bower_components/animate-sass/animations/bounce-enter/bounceIn",
	"../../bower_components/animate-sass/animations/bounce-enter/bounceInDown",
	"../../bower_components/animate-sass/animations/bounce-enter/bounceInLeft",
	"../../bower_components/animate-sass/animations/bounce-enter/bounceInRight",
	"../../bower_components/animate-sass/animations/bounce-enter/bounceInUp",
	"../../bower_components/animate-sass/animations/bounce-exit/bounceOut",
	"../../bower_components/animate-sass/animations/bounce-exit/bounceOutDown",
	"../../bower_components/animate-sass/animations/bounce-exit/bounceOutLeft",
	"../../bower_components/animate-sass/animations/bounce-exit/bounceOutRight",
	"../../bower_components/animate-sass/animations/bounce-exit/bounceOutUp";

// FADE

// Fade Enter
$use-fadeIn 			:	true;
$use-fadeInUp 			:	true;
$use-fadeInUpBig 		:	false;
$use-fadeInDown 		:	false;
$use-fadeInDownBig 		:	false;
$use-fadeInLeft 		:	false;
$use-fadeInLeftBig 		:	false;
$use-fadeInRight 		:	false;
$use-fadeInRightBig 	:	false;

// Fade Exit
$use-fadeOut			:   true;
$use-fadeOutUp			:	false;
$use-fadeOutUpBig   	:	false;
$use-fadeOutDown		:	true;
$use-fadeOutDownBig 	:	false;
$use-fadeOutLeft		:	false;
$use-fadeOutLeftBig 	:	false;
$use-fadeOutRight		:	false;
$use-fadeOutRightBig	:	false;

@import	"../../bower_components/animate-sass/animations/fade-enter/fadeIn",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInDown",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInDownBig",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInLeft",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInLeftBig",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInRight",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInRightBig",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInUp",
	"../../bower_components/animate-sass/animations/fade-enter/fadeInUpBig",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOut",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutDown",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutDownBig",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutLeft",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutLeftBig",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutRight",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutRightBig",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutUp",
	"../../bower_components/animate-sass/animations/fade-exit/fadeOutUpBig";

// FLIP

// Flippers
$use-flip				:	false;
$use-flipInX			:	false;
$use-flipInY			:	false;
$use-flipOutX			:	false;
$use-flipOutY			:	false;

@import "../../bower_components/animate-sass/animations/flippers/flip",
	"../../bower_components/animate-sass/animations/flippers/flipInX",
	"../../bower_components/animate-sass/animations/flippers/flipInY",
	"../../bower_components/animate-sass/animations/flippers/flipOutX",
	"../../bower_components/animate-sass/animations/flippers/flipOutY";

// LIGHTSPEED

// Lightspeed
$use-lightSpeedIn 		:	false;
$use-lightSpeedOut 		:	false;

@import	"../../bower_components/animate-sass/animations/lightspeed/lightSpeedIn",
	"../../bower_components/animate-sass/animations/lightspeed/lightSpeedOut";

// ROTATE

// Rotate Enter
$use-rotateIn 			:	false;
$use-rotateInUpLeft 	: 	false;
$use-rotateInUpRight 	: 	false;
$use-rotateInDownLeft 	: 	false;
$use-rotateInDownRight 	: 	false;

// Rotate Exit
$use-rotateOut 			:	false;
$use-rotateOutUpLeft 	: 	false;
$use-rotateOutUpRight 	: 	false;
$use-rotateOutDownLeft 	: 	false;
$use-rotateOutDownRight : 	false;

@import	"../../bower_components/animate-sass/animations/rotate-enter/rotateIn",
	"../../bower_components/animate-sass/animations/rotate-enter/rotateInDownLeft",
	"../../bower_components/animate-sass/animations/rotate-enter/rotateInDownRight",
	"../../bower_components/animate-sass/animations/rotate-enter/rotateInUpLeft",
	"../../bower_components/animate-sass/animations/rotate-enter/rotateInUpRight",
	"../../bower_components/animate-sass/animations/rotate-exit/rotateOut",
	"../../bower_components/animate-sass/animations/rotate-exit/rotateOutDownLeft",
	"../../bower_components/animate-sass/animations/rotate-exit/rotateOutDownRight",
	"../../bower_components/animate-sass/animations/rotate-exit/rotateOutUpLeft",
	"../../bower_components/animate-sass/animations/rotate-exit/rotateOutUpRight";

// SLIDE

// Slide Enter
$use-slideIn			:   false;
$use-slideInUp			:   false;
$use-slideInDown		:   false;
$use-slideInLeft		:   false;
$use-slideInRight		:   false;

// Slide Exit
$use-slideOut			:   false;
$use-slideOutUp			:   false;
$use-slideOutDown		:   false;
$use-slideOutLeft		:   false;
$use-slideOutRight		:   false;

@import "../../bower_components/animate-sass/animations/slide-enter/slideInDown",
	"../../bower_components/animate-sass/animations/slide-enter/slideInLeft",
	"../../bower_components/animate-sass/animations/slide-enter/slideInRight",
	"../../bower_components/animate-sass/animations/slide-enter/slideInUp",
	"../../bower_components/animate-sass/animations/slide-exit/slideOutDown",
	"../../bower_components/animate-sass/animations/slide-exit/slideOutLeft",
	"../../bower_components/animate-sass/animations/slide-exit/slideOutRight",
	"../../bower_components/animate-sass/animations/slide-exit/slideOutUp";

// SPECIAL

// Special
$use-hinge				:	false;
$use-rollIn				: 	false;
$use-rollOut 			:	false;

@import "../../bower_components/animate-sass/animations/special/hinge",
	"../../bower_components/animate-sass/animations/special/rollIn",
	"../../bower_components/animate-sass/animations/special/rollOut";

// ZOOM

// Zoom In
$use-zoomIn 			:	false;
$use-zoomInDown 		:	false;
$use-zoomInLeft 		:	false;
$use-zoomInRight 		:	false;
$use-zoomInUp 			:	false;

// Zoom Out
$use-zoomOut			:	false;
$use-zoomOutDown		:	false;
$use-zoomOutLeft		:	false;
$use-zoomOutRight		:	false;
$use-zoomOutUp			:	false;

@import "../../bower_components/animate-sass/animations/zoom-enter/zoomIn",
	"../../bower_components/animate-sass/animations/zoom-enter/zoomInDown",
	"../../bower_components/animate-sass/animations/zoom-enter/zoomInLeft",
	"../../bower_components/animate-sass/animations/zoom-enter/zoomInRight",
	"../../bower_components/animate-sass/animations/zoom-enter/zoomInUp",
	"../../bower_components/animate-sass/animations/zoom-exit/zoomOut",
	"../../bower_components/animate-sass/animations/zoom-exit/zoomOutDown",
	"../../bower_components/animate-sass/animations/zoom-exit/zoomOutLeft",
	"../../bower_components/animate-sass/animations/zoom-exit/zoomOutRight",
	"../../bower_components/animate-sass/animations/zoom-exit/zoomOutUp";