@import "animate.scss";

kds-stepper {
  background: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
  display: block;
  padding:0 !important;
  position: relative;
  overflow: hidden;

  div.layout-column {
    padding-bottom:30px;
  }


  &.round {
    kds-steps-wrapper {
      border-radius: 10000px;
      overflow: hidden;
      position: relative;
    }
  }

  kds-steps-wrapper {
    overflow: hidden !important;
    position: relative !important;
    display: block;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .2);

    & kds-step-item {
      display: block;
      padding: 18px 0;
      position: relative !important;
      cursor: pointer;

      &.disabled, &[disabled] {
        color: rgba(0, 0, 0, .38);
        .md-fab {
          background: #9E9E9E !important;
        }
        
        &[disabled], &[disabled] > * {
          cursor: no-drop;
        }
      }
      
      &.active {
        font-weight:700;
      }

      &:not(.active) {
        font-weight:400;
        color: rgba(0,0,0,.5);
      }

      &:first-child {
        padding-left: 24px;
        overflow: hidden !important;
      }

      &:last-child {
        padding-right: 24px;
        overflow: hidden;
      }
    }

    .md-fab {
      width: 28px !important;
      height: 28px !important;
      min-height: 24px;
      margin-left: 24px;
      md-icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 2px;
        margin-left: -2px;
      }

      span {
        display: block;
        line-height: 30px;
      }
    }
  }


  kds-steps-content {
    display: block;
    overflow: hidden;
    position: relative;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    md-content {
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    }

    kds-step {
      width:100%;
      display: block;
      padding:24px;
      box-sizing: border-box;
      
      @keyframes kds-left {
          from {transform: translateX(100%);}
          to {transform: translateX(0);}
      }

      @keyframes kds-right {
          from {transform: translateX(-100%);}
          to {transform: translateX(0);}
      }

      @keyframes kds-left-leave {
          from {transform: translateX(0);}
          to {transform: translateX(-100%);}
      }

      @keyframes kds-right-leave {
          from {transform: translateX(0);}
          to {transform: translateX(100%);}
      }

      &.kds-right {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
        animation: kds-right .5s;
        &.ng-leave {
          position: absolute;
          top: 0;
          animation: kds-right-leave .5s;

        }
      }
      &.kds-left {
        transition:all cubic-bezier(0.940, 0.450, 0.460, 0.250) .5s;
        animation: kds-left .5s;
        &.ng-leave {
          position: absolute;
          top: 0;
          animation: kds-left-leave .5s;
          
        }
      }
    }
  }

  kds-steps-message {
    width: 100%;
    height: 76px;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
    
    span {
      padding-left: 24px;
      font-weight: 400;
    }
    
    &.ng-enter {
      @extend .animated;
      @extend .fadeInUp;
      animation-duration: .5s;
      -webkit-animation-duration: .5s;
      -moz-animation-duration: .5s;
    }
    &.ng-leave {
      @extend .animated;
      @extend .fadeOutDown;
      position: absolute;
      animation-duration: .2s;
      -webkit-animation-duration: .2s;
      -moz-animation-duration: .2s;
    }
  }

  kds-step-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: rgba(255,255,255,0.9);

    &.ng-enter {
      @extend .animated;
      @extend .fadeInUp;
    }
    &.ng-leave {
      @extend .animated;
      @extend .fadeOutDown;
    }
  }
}
